<!DOCTYPE html5>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Proba</title>
        <link rel="stylesheet" type="text/css" href="./css/styles.css">
    </head>

    <body data-ng-app="myApp" data-ng-controller="rootController">  
        <script src="../node_modules/angular/angular.min.js"></script>
        <script src="../node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
        <script src="app.js"></script>
        <header>
        <ul>
            <li data-ng-repeat="item in menuItems">
            <a data-ng-class="{'active': item.active == true}" data-ng-click="setActive(item)" data-ui-sref="{{ item.name }}">{{ item.name }}</a>
            </li> 
        </ul>
        </header>
        <div class="container">
            <div>
                <ul>
                    <li data-ng-repeat="item in menuItems">
                    <a data-ng-class="{'active' : item.name == state.name}" data-ui-sref="{{ item.name }}">{{ item.name }}</a>
                    </li> 

                </ul>
            </div>
            <div class="mainContainer" data-ui-view></div>



        </div>
        <footer>
        <p>copyright <strong>&copy;</strong> 2016</p>
        </footer>

    </body>
</html>

