
body {
  height: 100%;
  overflow: auto;
  margin:0;
  width:100%;
  min-width:650px;
  display:block;
  font-family: $font-sans;
}
::-webkit-scrollbar {
    width: 12px;
    height:12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8); 
     //	background-color: red;

       &:hover {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background-color: rgba(255,0,0,0.6);
    }
}
