
.container {
  width:100%;
  top:50px;
  //position:fixed;
  height: map-get($height, visina);
  display: inherit;
  min-width: 650px;
  ul {

    list-style-type: none;
    left: 0;
    margin:0;
    padding: 0;
    width: 166px;
    background-color: map-get($colors, svetlosiva); 
    position: absolute;
    height:map-get($height, visina);
    top:50px;
    overflow: auto;
    float:left;
    display:block;
    border : 2px solid map-get($colors, siva);
    li {
      margin:0;
      a {
        display: block;
        color:  map-get($colors, sivanav);
        padding: 8px 16px;
        text-decoration: none;
        font-size: 20px;
        font-weight:bold; 
        border-bottom: 2px solid map-get($colors, siva);
        &.active {
          background: map-get($colors, black);
          color: map-get($colors, sivanavactiv);
          &:hover {
            background: map-get($colors, black);
            color: map-get($colors, sivanavactiv);
          } 
        }
        &:hover {
          background-color: darken( map-get($colors, svetlosiva),20% );
          color:  map-get($colors, sivanav);

        }

      }
    }
  }
  .mainContainer {
    position:absolute;
    width: calc(100% - 170px);
    height: map-get($height, visina);
    left:170px;
    top:50px;
    float:left;
    display:inline;
    overflow: auto;
    min-width: 480px;
    .text {
      background-color: map-get($colors, tamnosiva);
      text-align : center;
      color:map-get($colors, siva);
      line-height: 2;
      width:100%;

      H2 {
        text-align: center;
        margin: 0;
        padding: 10px;
      }
      p {
        padding: 20px 20px;
        color: map-get($colors, sivatamnija); 
        margin: 0;
        text-align: justify;
      }

    }
    .imgbackgr {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 100%;
      height: 100%;

    }
    .contact {
      background-color: map-get($colors, tamnosiva);
      text-align: center;
      height: map-get($height, visina);
      color: map-get($colors, sivatamnija);
      height : 100%;
      width: 100%;

      form {
        line-height: 2em;
        display: block;
        position: relative;
        top: calc(100% / 4);
        margin: auto;
        width: 214px;
        div {
          text-align: left;
        }
        input {
          width: 100%;
        }
        textarea {
          width: 100%;
          height: 164px;
        }
      }
      button {
        margin-top: 20px;
        width: 80px;
      }
    }
    .other {
      background-color: map-get($colors, tamnosiva);
      text-align: center;
      .imgbackgr {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 100%;

      }
      h2 {
        margin : 0;
        padding:  20px 0;
        color: map-get($colors, siva);
      }

      p {
        padding: 20px 20px;
        color: map-get($colors, sivatamnija); 
        margin: 0;
        text-align: justify;
        line-height: 2;
      }

    }
  }
}
