
footer{
	@extend %position;
  
   bottom:0;
   
      min-width:650px;
   background-color: map-get($colors, black);

   color: map-get($colors, white);

  //border: 3px solid gray;

   
    line-height:2.7em;
  // @include backblack(0.5); 
  

  & p {
      // vertical-align: 50%;
	 text-align:center;
      // position:relative;  
     display:block;

          margin:auto;
          &>strong {
              color: map-get($colors, siva);
          }
  }
}
