header {
     	@extend %position;
     
   top:0;
  
   background-color:  map-get($colors, black);
  

   width:inherit;
    // color:white;

   clear:both;
   //@include backblack(0.5);

        ul {
             list-style-type: none;
             margin: 0;
              padding: 0;
               width: 42%; 
             background-color: transparent;
             height: 50px;
           /*!  float: right; */  
	     min-width: 540px; 
               margin-left: auto; 
	       margin-right: auto; 
	       text-align :center;
          li {
                   /*! display: block; */
                   /*! pointer: cursor; */
                   float: left;
                  // padding-right: 20px;
		 // padding-left: 20px;
                    font-size: 25px;
                    vertical-align: middle;
                    margin: auto;
                    height: 50px;
	            border-right: 2px solid  lighten(map-get($colors, black), 25%);
		        &:last-of-type{
		         border-right:none;
		    }
	    &:hover {
                   background-color: lighten(map-get($colors, black), 25%);
            }
                a {
                     vertical-align: inherit;
                      color: map-get($colors, siva);
                      text-decoration: none;
                       padding: 10px 20px;
                      // margin: 10px;
                      display: block;
		      //line-height: 1.9;
                     // height : 50px;
           }
      }
 }
}
