 @mixin backblack($opacity) {
  background: black; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left,rgba(0,0,0,$opacity),rgba(0,0,0,1)); /*Safari 5.1-6*/
  background: -o-linear-gradient(right,rgba(0,0,0,$opacity),rgba(0,0,0,1)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(right,rgba(0,0,0,$opacity),rgba(0,0,0,1)); /*Fx 3.6-15*/
  background: linear-gradient(to bottom, rgba(0,0,0,$opacity), rgba(0,0,0,1)); /*Standard*/ }
