<div class="text"><div   data-ui-view><H2>LOREM IPSUM</H2>  
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed volutpat mi, scelerisque mattis turpis. Cras viverra pretium quam, et maximus enim eleifend sit amet. Pellentesque non purus interdum, ornare dolor et, rhoncus nibh. Pellentesque consequat vel quam vel iaculis. Nunc leo leo, sodales nec lobortis sit amet, aliquam vitae odio. Sed ante ligula, dignissim eu congue quis, faucibus porttitor mauris. Vestibulum ultricies tempor eros a rhoncus.

                Sed tincidunt dignissim erat et posuere. Nam dictum urna ipsum, ac consequat felis efficitur ac. Fusce dui lacus, ullamcorper quis fringilla at, fringilla vitae nunc. Donec odio augue, dignissim scelerisque cursus id, venenatis a sem. Phasellus molestie dolor non sem sagittis dictum. Quisque blandit sem sit amet mattis iaculis. Nullam eu varius nulla. Sed imperdiet arcu dapibus, faucibus mi eget, consequat lacus.

                </p>
                <a data-ui-sref=".image"><img  ng-src="img\Kiama-Photo-by-Shane-Arrold-740x492.jpg" alt="izbor za miss 2014" style="height: 100%; width: auto;">
                <p>Nam sed aliquam tortor. Sed ultricies urna quis augue tincidunt vestibulum. Mauris posuere aliquet justo, nec fringilla ligula euismod eu. Phasellus eu metus accumsan, porttitor lectus gravida, pellentesque neque. Phasellus non urna egestas lacus tempus cursus vestibulum ac nisl. Fusce velit sapien, scelerisque ut placerat scelerisque, posuere elementum elit. Vestibulum est turpis, porttitor at elit at, sagittis venenatis tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis at euismod elit.

                Proin tortor nulla, convallis vel nisi eget, egestas vulputate nulla. Aliquam quis metus at sapien venenatis hendrerit vel eget nisl. Nunc odio ante, molestie vel sem nec, fringilla rutrum urna. Curabitur ipsum ante, rhoncus et orci vitae, sollicitudin interdum mauris. In eu augue pharetra, rhoncus enim lacinia, volutpat nunc. Vivamus bibendum aliquet mauris, eget fringilla velit vulputate quis. Quisque porta vitae augue in euismod. Phasellus varius consequat feugiat. Integer ac nulla porttitor, ultricies felis vitae, malesuada est. Aenean ut sem ipsum. Suspendisse vitae lectus ut lectus euismod pulvinar. Donec porttitor dapibus diam, sit amet interdum nibh fringilla ut.</p>
                </div>
            </div>