<div class="contact">
    
    <form id="contact_form"  enctype="multipart/form-data" ng-controller="formCtrl">
	<div>
		<label>Your name:</label>
		<input type="text" ng-model="name" />
	</div>
    <div>
		<label >Your email:</label>
		<input type="email" ng-model="email" />
	</div>
	<div>
		<label>Your message:</label>
		<textarea ng-model="message" ></textarea>
	</div>
        <button>Send</button>
</form>						
</div>
