<div class="other"><div   data-ui-view><H2>LOREM IPSUM</H2>  
                
                <a data-ui-sref=".image({ id: 1 })"><img id="1" ng-src="img/izbor za miss Russia 2014.jpg" alt="izbor za miss 2014" style="height: 50%; width: auto;"></a><a data-ui-sref=".image({ id: 2 })"><img id="2" ng-src="img/14470401_10155521996088539_1108722207813894080_n.jpg" style="height: 50%; width: auto;"></a>
                <a data-ui-sref=".image({ id: 3 })"><img id="3" ng-src="img/00007190_big.jpg" style="height: 50%; width: auto;"></a><a data-ui-sref=".image({ id: 4 })"><img id="4" ng-src="img/Yulia Alipova .jpg" style="height: 50%; width: auto;"></a>
               </div>
</div>